@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --primary-color: #233c7b;
  --secondary-color: #f7a654;
  --alternate-color: #327ae7;
  --light-color: #edecf7;
  --text-primary-color: #858585;
  --text-secondary-color: #5877c6;
  --text-light-color: #fff;
  --text-dark-color: #454545;
  --text-darkBlue-color: #000f35;
  --font-family: "Poppins", sans-serif;
  --secondary-font-family: "Manrope", sans-serif;
}

/* ========================================== */
/* ====================== Header ==================== */
/* ========================================== */

header {
  padding: .5rem 5rem;
}

.upper_nav>img {
  width: 12rem;
}

.btn-bg {
  all: unset;
  color: var(--primary-color);
  padding: 0.5rem 2rem;
  border-radius: 7px;
  font-weight: 700;
}

.btn-nbg {
  all: unset;
  background-color: var(--primary-color);
  color: var(--text-light-color);
  padding: 0.5rem 2rem;
  border-radius: 7px;
  font-weight: 700;
}

.search_input {
  border: 2px solid #333;
  border-radius: 5px;
  padding: .5rem 1rem;
  width: 50rem;
}

.search_input_mobile {
  border: 2px solid #333;
  border-radius: 5px;
  padding: .5rem 1rem;
  width: 20rem;
}

.search_input>input {
  all: unset;
  width: 100%;
}

input::placeholder {
  font-weight: 600;
  color: var(--primary-color);

}


/* ======= Corusces Section ======= */
.crouse_list>ul>ul {
  padding-left: 0rem;
}

.a_style {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
}

.hamberger {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}


/* ========================================== */
/* ====================== Hero ==================== */
/* ========================================== */

.hero_section {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: var(--text-light-color);
}

.hero_left {
  position: absolute;
}

.hero_left>h4 {
  text-shadow: 0px 0px 15px black;
  color: var(--light-color);
  font-size: 2.5rem;
  line-height: 56px;
}

.hero_left>h1 {
  font-size: clamp(1.5rem, 5vw, 5rem);
  font-weight: 700;
  text-shadow: 0px 0px 20px black;
  padding: 0.5rem;
}

.underline {
  text-decoration: none;
  position: relative;
}

.underline:after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50%;
  background: var(--secondary-color);

  /* optional animation */
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.underline:hover:after {
  width: 100%;
  background: var(--secondary-color);
}

.btn-hero {
  all: unset;
  background-color: var(--secondary-color);
  color: var(--text-light-color);
  padding: 1rem 2rem;
  border-radius: 7px;
  font-weight: 700;
  box-shadow: 0px 0px 20px black;
}

.hero_right {
  /* width: 70rem; */
  background: linear-gradient(0deg, rgba(2, 0, 36, 0.8071603641456583) 0%, rgba(35, 60, 123, 1) 35%, rgba(35, 60, 123, 0.7259278711484594) 100%);
}


/* ========================================== */
/* ====================== Motivation section ==================== */
/* ========================================== */

.motivation_card {
  font-family: var(--font-family);
}

.motivation_text > h1 {
  font-weight: 700;
  color: var(--primary-color);
}

.motivation_underline {
  text-decoration: none;
  position: relative;
}

.motivation_underline:after {
  position: absolute;
  content: '';
  height: 4px;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 20%;
  background: var(--secondary-color);

  /* optional animation */
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.motivation_underline:hover:after {
  width: 30%;
  background: var(--secondary-color);
}

.motivation_card {
  border: 2px solid #333;
  border-radius: 7px;
  margin-top: 2rem;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: .3s ease;
}

/* .motivation_card > img:hover{
  width: 16rem;
} */

.motivation_card > img{
    width: 15rem;
    margin: auto;
    transition: .3s ease;
}

.motivation_card > p {
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 700;
  color: var(--primary-color);
}

.motivation_card > h2 {
  font-size: clamp(1rem, 3vw, 2.5rem);
  font-weight: 700;
  color: var(--text-dark-color);
  max-width: 20rem;
  line-height: inherit;
}





/* ========================== */
/* ========================== */
/*      Making Responceve    */
/* ========================== */
/* ========================== */


@media (max-width: 1485px) {
  header {
    padding: .5rem 2rem;
  }

  .search_input {
    width: 30rem;
  }
}



@media (max-width: 1059px) {
  .search_input {
    width: 15rem;
  }
}

@media (max-width: 778px) {

  /* =============== Header ================== */
  .search_input {
    display: none !important;
  }

  .auth_buttons {
    display: none !important;
  }

  .crouse_list {
    display: none;
  }

  .hamberger {
    display: block;
  }


  /* =============== Hero ================== */
  .hero_left>h4 {
    font-size: .6rem;
    position: relative;
    top: 0.6rem;
    line-height: 15px;
  }

  .btn-hero {
    padding: .5rem 2rem;
  }


}